<% @dataset_entities.each do |entity| -%>
  <h2><%= link_to h(entity.name), dataset_entity_url(entity) %></h2>
  <p>
    Source url: <%= h entity.url %>
    <%= link_to h(entity.name), dataset_entity_url(entity) %>
  </p>
<% end -%>
